.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  width: 100vw;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.header{
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #fff;
}

 /* .header__nav{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}  */

.header__nav__link{
  margin: 0 15px;
  color: hsl(233, 8%, 62%);
}


.btn{
  padding: 10px 35px;
  color: #fff;
  background-image: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
  border-radius: 30px;
  border: none;
  outline: none;
}

.hero{
  /* padding: 0 5% 0 0; */
  display: flex;
  height: 550px;
  
}

.hero__left {
  border: 1px solid black;
  width: 50%;
  padding-top: 128px;
  padding-left: 192px;
}

.hero__left-title{
  font-size: 48px;
  color: #2e2f4e;
  font-weight: 200;
  
}

.hero__left__text{
  margin-top: 20px;
  color: #999999;
  font-size: 16px;
  line-height: 30px;
  
} 


.hero__right{
  border: 1px solid black;
  width: 50%;
  position: relative;
} 

.hero__right__bg {
  position: absolute;
  top: -55px;
  left: 171px;
  z-index: -15;
  height: 100%;
  transform: scale(1.7);
}

.hero__right__img {
  position: absolute;
  top: -126px;
  right: -116px;
  z-index: -10;
}

.btn{
  margin-top: 20px;
  
}